# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* List commonly used Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. matplotlib
3. NumPy

| Data Science Tools |
|--------------------|
| Jupyter Lab; Notebook |
| Apache Zeppelin |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers.

In [6]:
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

In [5]:
minutes = 200
hours = minutes/60
print(str(hours) + ' hours')

3.3333333333333335 hours

## Author
Eric